[Desktop Entry]
Encoding=UTF-8
Name=Link to https://mmbiz.qpic.cn/mmbiz_jpg/X3QMibSa8oeym88w0cc909DOCMPm2qS3ZO6F4oqXwdZ7lqplhSAK1xouUWxvM8ENlRW41RKibxFNqPnfPSsnxRsQ/640?wx_fmt=jpegwebp&wxfrom=5&wx_lazy=1&wx_co=1
Type=Link
URL=https://mmbiz.qpic.cn/mmbiz_jpg/X3QMibSa8oeym88w0cc909DOCMPm2qS3ZO6F4oqXwdZ7lqplhSAK1xouUWxvM8ENlRW41RKibxFNqPnfPSsnxRsQ/640?wx_fmt=jpegwebp&wxfrom=5&wx_lazy=1&wx_co=1
Icon=image-jpeg
Name[en_US]=liyong
